@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title>@ViewBag.Title</title>
    
   @Styles.Render("~/Content/css")
  @Scripts.Render("~/Content/js")
     @*Scripts.Render("~/bundles/modernizr")
  
    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
    
</head>
<body>
   
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" style="text-align:justify">
                        - W A S S -
                    </a>
                </li>
                <li>
                    <a href="/Tramite">Gestión de Trámites</a>
                </li>
                <li>
                    <a href="/Persona">Gestión de Personas</a>
                </li>
                <li>
                    <a href="#">Configuración</a>
                </li>
                <li>
                    <a href="#">Informes</a>
                </li>
              
                <li>
                    <a href="#">Contactar soporte</a>
                </li>
                <li>
                    <a href="#">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Menu Principal</h1>
                        <h2>WASS</h2>
                        <h3>Servicios Previsionales</h3>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-warning" id="menu-toggle">Toggle Menu</a>

                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>


*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*Scripts.Render("~/Content/js")*@  
   </head>
<body>
       
    <nav class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-legal fa-4"></i> W A S S</a>
        </div><!-- navbar-header-->
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>
        </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> - PRINCIPAL -</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#">Cerrar Sesion</a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x"></i></span> Gestionar Personas</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="/Persona"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list fa-stack-1x"></i></span>Ver lista</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus-circle  fa-stack-1x "></i></span>Añadir</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-refresh  fa-stack-1x "></i></span>Modificar</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-eye fa-stack-1x "></i></span>Consultar</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list-alt -o fa-stack-1x "></i></span> Gestionar Trámites</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="/Tramite"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list fa-stack-1x "></i></span>Ver lista</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus-circle fa-stack-1x "></i></span>Añadir</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-refresh fa-stack-1x "></i></span>Modificar</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-eye fa-stack-1x "></i></span>Consultar</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cogs fa-stack-1x "></i></span> Configuración</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sliders fa-stack-1x "></i></span>Datos del sistema</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Seguridad</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Copia de Seguridad</a></li>
                        

                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-file fa-stack-1x "></i></span>Informes</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope fa-stack-1x "></i></span>Gmail</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>Manual de Usuario</a>
                </li>
                
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-question-circle fa-stack-1x "></i></span>Contactar Soporte</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        
                        @RenderBody()
                     </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
  
      <!-- jQuery -->
   @* <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sidebar_menu.js"></script>*@
    @Scripts.Render("~/bundles/wasscript")
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>