@model WASS_SAPTFI.ViewModels.Tramite.TramiteVM


@using (Html.BeginForm("GuardarTramite", "Tramite", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
       
    var listaTT = new SelectList(Model.Lista_Tipos_Tramite, "Id", "Descripcion");
        
        
        <ul class="nav nav-tabs">
            <li class="active"><a href="#datospersonales">Datos Personales</a></li>
            <li><a href="#infoTramite">Información del Tramite</a></li>
            <li><a href="#detallesTramite">Detalles</a></li>
            <li><a href="#guardar">Guardar</a></li>
           
        </ul>

        <div class="tab-content"> <!---BEGIN TABS-->
            
            <!--- SELECCIONAR PERSONA-->
            <div id="datospersonales" class="tab-pane fade in active">
                <h3>Persona</h3>


                <div class="form-inline">
                    
                    <div class="container-fluid .col-xs-12 .col-sm-6 .col-md-8">
                        <div class="row">
                            <label for="nombreyapellido">Nombre</label>
                            @Html.TextBoxFor(model => model.Persona.NombreYapellido, new { @class = "form-control", placeholder = "", id = "nombreyapellido", name = "nombreyapellido", type = "text" })
                            @Html.ValidationMessageFor(model => model.Persona.NombreYapellido)
                        </div>
                    </div>
                </div>
            <p> </p>
                <div class="form-inline">
                
                    <div class="container-fluid .col-xs-12 .col-sm-6 .col-md-8">
                        <div class="row">
                            <label for="dni">Documento</label>
                            @Html.TextBoxFor(model => model.Persona.DNI, new { @class = "form-control", placeholder = "", id = "campoDNI", type = "text", name = "campoDNI" })

                            @Html.ValidationMessageFor(model => model.Persona.DNI)
                        </div>
                        <p> </p>
                        <div class="container-fluid .col-xs-12 .col-sm-6 .col-md-8">
                            @Html.ActionLink("Buscar Persona", "BuscarPersona", "Tramite", new { @class = "btn btn-primary" }) 
                        </div>
                    </div>
                    </div>


            </div> <!---FIN SELECCIONAR PERSONA-->


            <!---DATOS DEL TRAMiTE-->
            <div id="infoTramite" class="tab-pane fade">
                <h3>Tipo de Trámite</h3>
                    
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Tipo_Tramite.Descripcion, listaTT, "Seleccionar Tipo", new { @class = "form-control", id = "tipot", name = "tipot" })
                </div>
            
            <p> </p>
            
                <label for="fecha_alta">Fecha de Alta</label>
                @Html.TextBoxFor(model => model.Fecha_Alta, new { @class = "form-control", placeholder = "", id = "fecha_alta", name = "fecha_alta", type = "date" })
                @Html.ValidationMessageFor(model => model.Fecha_Alta)

            <p> </p>
            
                <label for="enviadopor">Enviado por: </label>
                @Html.TextBoxFor(model => model.Enviado_por, new { @class = "form-control", placeholder = "", id = "enviadopor", type = "text", name = "enviadopor" })

            <p> </p>

                <label for="derivadoa">Derivado a: </label>
                @Html.TextBoxFor(model => model.Derivado_a, new { @class = "form-control", placeholder = "", id = "derivadoa", type = "text", name = "derivadoa" })

                
            </div> <!---FIN DATOS DEL TRAMITE-->
            
            
            <!---DETALLES DEL TRAMITE-->
            <div id="detallesTramite" class="tab-pane fade">
                <h3>Movimientos</h3>
               
                <p> </p>

                <label for="fecha_detalle">Fecha de Alta</label>
                @Html.TextBoxFor(model => model.Detalle_Tramite.Fecha_Desde, new { @class = "form-control", placeholder = "", id = "fecha_detalle", name = "fecha_detalle", type = "date" })
                @Html.ValidationMessageFor(model => model.Detalle_Tramite.Fecha_Desde)

                <p> </p>

                <label for="descripcion">Descripción: </label>
                @Html.TextBoxFor(model => model.Detalle_Tramite.Descripcion, new { @class = "form-control", placeholder = "", id = "descripcion", type = "text", name = "descripcion" })

            </div> <!---FIN DETALLES DEL TRAMITE-->
            
            <!---GUARDAR TRAMITE-->
            <div id="guardar" class="tab-pane fade">
                <h3>Verifique los datos antes de guardar</h3>
                @Html.CheckBox("verificar", new { id = "verificar", name = "verificar" });
            <hr />   
            
               
                  @{  if (Request.Form["verificar"].IsBool())
                    {
                        var derivadoa = Request.Form["derivadoa"];
                        var enviadopor = Request.Form["enviadopor"];
                        var pnombre = Request.Form["nombreyapellido"];
                        var pdni = Request.Form["campoDNI"];
                        var tipotramite = Request.Form["tipot"];
                        var fecha_alta = Request.Form["fecha_alta"];
                        var fecha_detalle = Request.Form["fecha_detalle"];
                        var descripcion = Request.Form["descripcion"];
                    


                <p> @pnombre.ToString();</p>
                <p> @pdni.ToString();</p>
                <p> @tipotramite.ToString();</p>
                <p> @fecha_alta.ToString();</p>
                <p> @enviadopor.ToString();</p>
                <p> @derivadoa.ToString()</p>
                <p> @fecha_detalle.ToString()</p>
                <p> @descripcion.ToString()</p>
                    }
                    }    
            
            <input type="submit" name="btnGuardar" class="btn btn-success" value="Guardar" />


            </div> <!---FIN DETALLES DEL TRAMITE-->

        </div> <!---END TABS-->
        
        <hr>
        
           
        
                
}
<div>
    @Html.ActionLink("Volver a la lista", "Index", "Tramite", new { @class = "btn btn-danger" })
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/js")


    <!--- TAB SCRIPT-->
<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var x = $(event.target).text();         // active tab
            var y = $(event.relatedTarget).text();  // previous tab
            $(".act span").text(x);
            $(".prev span").text(y);
        });
    });
</script>
    <!---END TAB SCRIPT-->


    }

