@model WASS_SAPTFI.ViewModels.Tramite.TramiteVM


@using (Html.BeginForm("GuardarTramite", "Tramite", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
      
    var listaTT = new SelectList(Model.Lista_Tipos_Tramite, "Id", "Descripcion");
        <h2>Gestión de trámites <small>Añadir trámite</small></h2>
        <hr class="colorgraph">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#datospersonales">1- Datos Personales</a></li>
            <li><a href="#infoTramite">2- Información del Tramite</a></li>
            <li><a href="#detallesTramite">3- Detalles</a></li>
            <li><a href="#guardar">4- Guardar</a></li>
           
        </ul>

        <div class="tab-content"> <!---BEGIN TABS-->
            
            <!--- SELECCIONAR PERSONA-->
            <div id="datospersonales" class="tab-pane fade in active">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                        PASO 1: Seleccionar Persona
                    </div>
                </div>
                <h3>Datos de la Persona:</h3>


                <div class="form-inline">
                    
                    <div class="container-fluid .col-xs-12 .col-sm-6 .col-md-8">
                        <div class="row">
                            <label for="nombreyapellido">Nombre y Apellido</label>
                            @Html.TextBoxFor(model => model.Persona.NombreYapellido, new { @class = "form-control", placeholder = "", id = "nombreyapellido", name = "nombreyapellido", type = "text" })
                            
                        </div>
                    </div>
                </div>
            <p> </p>
                <div class="form-inline">
                
                    <div class="container-fluid .col-xs-12 .col-sm-6 .col-md-8">
                        <div class="row">
                            <label for="dni">Documento</label>
                            @Html.TextBoxFor(model => model.Persona.DNI, new { @class = "form-control", placeholder = "", id = "campoDNI", type = "text", name = "campoDNI" })

                        </div>
                        <p> </p>
                        <div class="container-fluid .col-xs-12 .col-sm-6 .col-md-8">
                            @Html.ActionLink("Buscar Persona", "BuscarPersona", "Tramite", new { @class = "btn btn-primary" })
                            @Html.ValidationMessageFor(model=> model.Persona) 
                        </div>
                    </div>
                    </div>


            </div> 
    
            <!---FIN SELECCIONAR PERSONA-->


            <!---DATOS DEL TRAMiTE-->
       
         <div id="infoTramite" class="tab-pane fade">
             <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                     PASO 2: Información del Trámite
                 </div>
             </div>
                      <h3>Información del Trámite</h3>
                    
             <label for="tt">Tipo de Trámite</label>
                <div class="form-group" id="tt" >
                    @Html.DropDownListFor(model=>model.Tipo_Tramite.Id, listaTT, "Seleccionar Tipo", new { @class = "form-control", id = "tipot", name = "tipot" })
                    
                   
                </div>
            
            <p> </p>
            
                <label for="fecha_alta">Fecha de Alta</label>
                @Html.TextBoxFor(model => model.Fecha_Alta, new { @class = "form-control", placeholder = "", id = "fecha_alta", name = "fecha_alta", type = "date" })
                @Html.ValidationMessageFor(model => model.Fecha_Alta)

            <p> </p>
            
                <label for="enviadopor">Enviado por: </label>
                @Html.TextBoxFor(model => model.Enviado_por, new { @class = "form-control", placeholder = "", id = "enviadopor", type = "text", name = "enviadopor" })

            <p> </p>

                <label for="derivadoa">Derivado a: </label>
                @Html.TextBoxFor(model => model.Derivado_a, new { @class = "form-control", placeholder = "", id = "derivadoa", type = "text", name = "derivadoa" })

                
            </div> 
    
            <!---FIN DATOS DEL TRAMITE-->
            
            
            <!---DETALLES DEL TRAMITE-->
            
            <div id="detallesTramite" class="tab-pane fade">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        PASO 3: Detalles del Trámite
                    </div>
                </div>
                <h3>Detalle de Movimientos</h3>
               
                <p> </p>

                <label for="fecha_detalle">Fecha de Alta</label>
                @Html.TextBoxFor(model => model.Detalle_Tramite.Fecha_Desde, new { @class = "form-control", placeholder = "", id = "fecha_detalle", name = "fecha_detalle", type = "date" })
                @Html.ValidationMessageFor(model => model.Detalle_Tramite.Fecha_Desde)

                <p> </p>

                <label for="descripcion">Descripción: </label>
                @Html.TextBoxFor(model => model.Detalle_Tramite.Descripcion, new { @class = "form-control", placeholder = "", id = "descripcion", type = "text", name = "descripcion" })

                
               



</div> 
    
            <!---FIN DETALLES DEL TRAMITE-->
            
            <!---GUARDAR TRAMITE-->
           
     <div id="guardar" class="tab-pane fade">
         <div class="progress">
             <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
                 PASO 4: Verificar y Guardar
             </div>
         </div>
                <h3>Verifique los datos antes de guardar</h3>
            <hr />
            <p>Mostrar aqui los datos ingresados</p>    
            @Html.CheckBox("verificar", new { id = "verificar", name = "verificar" });
            <hr />   
              
            
            <input type="submit" name="btnGuardar" class="btn btn-success" value="Guardar" />


            </div> 
            
            <!---FIN GUARDAR TRAMITE-->

        </div> <!---END TABS-->
      <hr class="colorgraph">
        
           
        
                
}
<div>
    @Html.ActionLink("Volver a la lista", "Index", "Tramite", new { @class = "btn btn-danger" })
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/js")


    <!--- TAB SCRIPT-->
<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var x = $(event.target).text();         // active tab
            var y = $(event.relatedTarget).text();  // previous tab
            $(".act span").text(x);
            $(".prev span").text(y);
        });
    });
</script>
    <!---END TAB SCRIPT-->


    }

