@model IEnumerable<WASS_SAPTFI.ViewModels.Tramite.ListaTramiteVM>



<div id="listatramites">

    <table class="table table-striped table-condensed table-responsive table-hover">
        <tr>
            <th>
                ID
            </th>
            <th>
                Documento
            </th>
            <th>
                Nombre y Apellido
            </th>
            <th>
                Tipo de Trámite
            </th>
            <th>
                Ultimo detalle
            </th>
            <th>
                Ultimo movimiento
            </th>

            <th>
                Acciones
            </th>

            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreYapellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Tramite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ultimo_Detalle)
                </td>
                <td>
                   
                    @item.Ultimo_Movimiento.ToShortDateString()
                </td>

                <td>
                    @Html.ActionLink("Seleccionar", "ModificarTramite", new { id = item.Id }, new {@class="btn btn-info btn-xs" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }


    </table>
</div>