@model WASS_SAPTFI.ViewModels.Tramite.Detalle_TramiteVM
@{
    ViewBag.Title = "Modificar";
}

@using (Html.BeginForm("AñadirDetalle", "Tramite", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model=> model.IdTramite)


    <h2>Modificar Trámite</h2>
    <hr />
    <div class="panel panel-default panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Información del Trámite Número: <span class="badge" id="NumeroDeTramite" style="text-align:end">@Model.IdTramite</span> 
            
            <div  class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Realizar cálculo <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li role="separator" class="divider"></li>
        <li><a href="#">Cálculos anteriores</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Ley 24.241</a></li>
        <li><a href="#">Haber veterano malvina</a></li>
        <li><a href="#">Otro cálculo</a></li>
     
    </ul>
</div>
        </div>
        <div class="panel-body">
            <table class="table ">
                <tr>
                    <td>
                        <div class="panel panel-default panel-info">
                            <div class="panel-heading">Datos Personales</div>
                            <div class="panel-body">

                                @Html.Label("model.NombreYapellido", "Nombre y Apellido")
                                @Html.TextBoxFor(model => model.NombreYapellido, new { @class = "form-control", disabled = "disabled" })
                                @Html.Label("model.DNI", "Documento")
                                @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="panel panel-default panel-info">
                            <div class="panel-heading">Datos Básicos</div>
                            <div class="panel-body">

                                @Html.Label("model.TipoTramiteDescripcion", "Tipo de Trámite")
                                @Html.TextBoxFor(model => model.TipoTramiteDescripcion, new { @class = "form-control", disabled = "disabled" })
                                @Html.Label("model.Fecha_Alta", "Fecha de Alta")
                                @Html.TextBoxFor(model => model.Fecha_Alta, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">Movimientos Históricos</div>
            <div class="panel-body">

    @Html.TextAreaFor(m => m.DetalleNuevo.Descripcion, new { @class = "form-control", placeholder="Ingrese aquí el detalle del movimiento"})
     @Html.ValidationMessage("DetalleNuevo.Descripcion", new { @class = "bg-danger" })
    
     
    @Html.EditorFor(model => model.DetalleNuevo.Fecha_Desde, new { id = "fecha_desde_nuevotramite", type = "date" })
   
          @Html.ValidationMessage("DetalleNuevo.Fecha_Desde", new { @class = "bg-danger" })


            

               


                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>
                            Fecha de movimiento            |    Descripcion
                        </th>

                    </tr>
                    @foreach (var item in Model.DetallesHistoricos.ToList())
            {
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3">@item.Fecha_Desde.ToShortDateString()</span>
                                    <input type="text" class="form-control" id="fecha_desde" aria-describedby="basic-addon3" disabled="disabled" value="@item.Descripcion">
                                </div>
                            </td>
                         </tr>
            }
                    </table>
              </div>
            
    </div>
            <p>
                <input type="submit" value="Guardar" class="btn btn-success"  />
            </p>

            </div>
}


            <div>
                @Html.ActionLink("Volver a la lista","Index","Tramite",new { @class = "btn btn-danger" })
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Content/themes/base/css")

            }






