@model IEnumerable<Modelos.Tramite>

@{
    ViewBag.Title = "WASS- Gestion de Trámites";
}

<h2>Gestion de Trámites</h2>


<form method="get" action="@Url.Action("Index")" data-wass-ajax="true" data-wass-target="#listatramites">
    <table>
        <tbody>
            <tr>
                <td>


                    @using (var g = Html.Bootstrap().Begin(new ButtonGroup()))
                    {
                        
                        @g.ActionLinkButton("Añadir", "Create", "Tramite").Style(ButtonStyle.Primary)
                        using (var dd = g.BeginDropDown(new DropDown("Filtrar por").AlignTo("right").Style(ButtonStyle.Primary)))
                        {


                            @dd.ActionLink("Tramites activos", "FiltrarTramitesActivos", "Tramite")
                            @dd.Divider()
                            @dd.ActionLink("Tramites finalizados", "FiltrarTramitesFinalizados", "Tramite")
                        }
                    }

                </td>
                <td class="col-xs-3">
                    <input type="search" name="searchTerm" data-wass-autocomplete="@Url.Action("Autocomplete","Tramite")" class="form-control" />
                </td>
                <td>
                    <input type="submit" name="Buscar" class="btn btn-warning" value="Buscar" />
                </td>
            </tr>
        </tbody>
    </table>
</form>


@Html.Action("ListarTramites", "Tramite")










    
    






