@model IEnumerable<Modelos.Persona>
             
<div id="listapersonas">

    <table class="table table-striped table-condensed table-responsive table-hover">
        <tr>
            <th>
                Nombre y Apellido
            </th>
            <th>
                Documento
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Celular
            </th>
            <th>
                Email
            </th>

            <th>
                Acciones
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreYapellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                    
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    <!--- SI SE INVOCA ESTA VISTA DESDE EL CONTROLADOR PERSONAS, MUESTRO LO ANTERIOR. SINO, DESHABILITO LOS BOTONES Y MUESTRO EL BTN SELECCIONAR-->

                </td>
            </tr>
        }


    </table>
</div>