@model IEnumerable<Modelos.Persona>

@{
    ViewBag.Title = "WASS- Gestión de Personas";
}

<h2>Gestión de Personas</h2>


<form method="get" action="@Url.Action("Index")" data-wass-ajax="true" data-wass-target="#listapersonas">
    <table>
        <tbody>
            <tr>
                <td>


                    @using (var g = Html.Bootstrap().Begin(new ButtonGroup()))
                    {
                    @g.ActionLinkButton("Añadir", "Create", "Persona").Style(ButtonStyle.Primary)
                    using (var dd = g.BeginDropDown(new DropDown("Filtrar por").AlignTo("right").Style(ButtonStyle.Primary)))
                    {
                        
                        
                        @dd.ActionLink("Personas activas", "FiltrarPersonasActivas", "Persona")
                        @dd.Divider()
                        @dd.ActionLink("Personas inactivas", "FiltrarPersonasInactivas", "Persona")
                        @dd.Divider()
                        @dd.AjaxActionLink("Mostrar todo","Index","Persona", new AjaxOptions
                 {
                     UpdateTargetId = "listapersonas", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                    }
                    }
                   
                </td>
                <td class="col-xs-6">
                    <input type="search" name="searchTerm" data-wass-autocomplete="@Url.Action("Autocomplete","Persona")" class="form-control" />
                </td>
                <td>
                    <input type="submit" name="Buscar" class="btn btn-warning" value="Buscar" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<hr class="colorgraph">

    @Html.Partial("_ListaPersonas", Model)


