@model IEnumerable<Modelos.Persona>
@using TwitterBootstrapMVC;
@using TwitterBootstrap2;

@{
    ViewBag.Title = "WASS- Gestión de Personas";
}

<h2>Gestión de Personas</h2>


<p>
  
</p>


@*@using (Ajax.BeginForm(
new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listapersonas"
}))*@

<form method="get" action="@Url.Action("Index")" data-wass-ajax="true" data-wass-target="#listapersonas">
    <table>
        <tbody>
            <tr class="row">
                <td>


                    @using (var g = Html.Bootstrap().Begin(new ButtonGroup()))
                    {
                    @g.ActionLinkButton("Añadir", "Create", "Persona").Style(ButtonStyle.Primary)
                    using (var dd = g.BeginDropDown(new DropDown("Filtrar por").AlignTo("right").Style(ButtonStyle.Primary)))
                    {
                        
                        
                        @dd.ActionLink("Personas activas", "FiltrarPersonasActivas", "Persona")
                        @dd.Divider()
                        @dd.ActionLink("Personas inactivas", "FiltrarPersonasInactivas", "Persona")
                    }
                    }
                   
                </td>
                <td class="col-xs-6">
                    <input type="search" name="searchTerm" data-wass-autocomplete="@Url.Action("Autocomplete","Persona")" class="form-control" />
                </td>
                <td>
                    <input type="submit" name="Buscar" class="btn btn-warning" value="Buscar" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<hr class="colorgraph">

    @Html.Partial("_ListaPersonas", Model)


